.mozila/
.wrangler/
BraveSoftware/
Min/
Slack/
btop/
cachyos/
chromium/
nitrogen/
Code/
'Code - OSS'/
configstore/
dconf/
discord/
Electron/
environment.d/
epiphany/
evolution/
github-copilot/
glib-2.0/
go/
goa-1.0/
greetd/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
micro/
Min/
nextjs-nodejs/
nwg-look/
opencode/
